#btn{
    display: inline;
}
body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
.glass{
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #d9e7ff);
    border-radius: 6px;
}