{% extends 'base.html' %} 

{% block title %}
    Products Data 
{% endblock title %}

{% block content %}
<div class="container my-5">
  <h4>Products</h4>

  <table id="product-table" class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nama</th>
          <th>Kategori</th>
          <th>Brand</th>
          <th>Harga</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
          {% for product in productlist %} 
              <tr>
                  <td>{{product['id']}}</td>
                  <td>{{product['Nama']}}</td>
                  <td>{{product['Kategori']}}</td>
                  <td>{{product['Brand']}}</td>
                  <td data-order={{product['Harga']}}>{{ "Rp. {:,.2f}".format(product['Harga']) }}</td>
                  <td><input class="btn btn-success" type="button" onclick="location.href='/products/{{product['id']}}'" value="Detail" /></td>
                  
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% endblock content %}